<h1>Bienvenido!</h1>
<p>Inicia tu busqueda</p>
<!-- 34.6037232, -58.3815931 es BS AS -->
<div class="container">
	<div class="col-md-6">
		<div id="home_map" style='width: 600px; height: 400px;'></div>
	</div>
	<div class="col-md-6"></div>
</div>

<%= javascript_tag do %>
  handler = Gmaps.build('Google');
  handler.buildMap(
  	{ 
  		provider: 
  			{zoom:8, center: new google.maps.LatLng(-34.6037232, -58.3815931), styles: mapStyle}, 
  		internal: 
  			{id: 'home_map'}
  	}
  	, function(){
		  markers = handler.addMarkers(<%= raw @hash.to_json %>);
		  handler.bounds.extendWith(markers);
		  handler.fitMapToBounds();
  });
<% end %>