<!--  -34.6037232, -58.3815931 es BS AS -->
<div class="row">
	<div class="col-xs-12 col-sm-9 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7">
		<div class="row">
			<div class="container-fluid container-search-form">
				<div class="panel panel-default" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="panel-body" style="padding-bottom: 0px; padding-top: 5px;">
						<div class="row">
							<div class="col-md-3">
								<h4>Categoría</h4>
								<select id="category-select" data-width="100%" class="selectpicker" data-style="btn-primary">
									<%= options_from_collection_for_select(@categories, 'id', 'name') %>
								</select>
							</div>

							<div class="col-md-3">
								<h4>Subcategoría</h4>
								<select id="subcategory-select" data-width="100%" class="selectpicker" data-style="btn-primary">
									<%= options_from_collection_for_select(@subcategories, 'id', 'name') %>
								</select>
							</div>

							<div class="col-md-6">
								<h4>Dirección</h4>
								<input id="address" name="address" data-width="100%" type="text"  class="form-control" placeholder="Ingrese una dirección">
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<button id="buscar" type="button" class="btn btn-,d btn-success">
									Buscar
								</button>
							</div>
						</div>

						<div class="row">
							<div id="accordion" class="panel-group" style="margin-bottom: 0px;">
								<div class="panel panel-default" style="margin-top: 10px;">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Búsqueda avanzada</a></h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-6">
													<h4>Radio de búsqueda</h4>
													<input id="radioBusqueda" data-slider-id='slider' type="text" data-slider-min="0" data-slider-max="20"  data-slider-value="0"/>
												</div>
												<div class="col-md-6">
													<div class="checkbox">
														<label>
															<input id="buscarTodas" type="checkbox" value="">
															Buscar en todas las categorías </label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container-fluid container-search-result">
				<div class="list-group" id="resultados">
					<div id="no-result" class="alert alert-danger fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">×</span>
							<span class="sr-only">Close</span>
						</button>
						No se encontraron resultados que coincidan con la búsqueda.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden-xs col-sm-3 col-md-6 col-md-pull-6 col-lg-7 col-lg-pull-5 ">
		<div class="container-fluid container-map">
			<div id="home_map"></div>
		</div>
	</div>
</div>

<!-- estadisticas provisorias -->
<button id="btnModal" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Estadísticas
</button>
<%= render "welcome/stats" %>

<%= javascript_tag do %>
var map;
var markers = [];

$("#radioBusqueda").slider({
	tooltip: 'show',
	formater: function(num){
		return num + " Km";
	},
	step: 0.25
});

addressPicker = new AddressPicker();
$('#address').typeahead(null, {
	displayKey: 'description',
	source: addressPicker.ttAdapter()
});



$( document ).ready(function() {
	$('.selectpicker').selectpicker();
	$("#no-result").hide();
	inicializarMapa(-34.6037232, -58.3815931);
});


$('#category-select').change(function() {
	$.ajax({
		url: "/update_subcategories",
		data: {
			category_id : $('#category-select').val()
		},
		dataType: "script"
	});
});

$('#buscar').click(function() {
	$.ajax({
		url: "/decode_address",
		data: {
			address : $('#address').val(),
			radio : $('#radioBusqueda').val(),
			subcategory_id: $('#subcategory-select option:selected').val(),
			buscarTodas: $('#buscarTodas').is(':checked')
		},
		dataType: "script"
	});
});
<% end %>
