
<!--  -34.6037232, -58.3815931 es BS AS -->
<button id="map-button" type="button" class="btn btn-info">Mapa</button>
<div class="container">

	<div class="col-md-6">
    <div class="panel panel-default" style="width:550px;height:550px;">
       <div class="panel-body">
        <%= image_tag "college.png", size: "500", id: "home_icon" %>
         <div id="home_map"></div>
       </div>
     </div> 
	</div>

	<div class="col-md-6">
    <div class="panel panel-default">
       <div class="panel-body">
          <select name="category-id" id="category-select" class="selectpicker" data-live-search="true" title="Categoria">
           <%= options_from_collection_for_select(@categories, 'id', 'name') %>
           </select>

          <select name="subcategory-id" id="subcategory-select" class="selectpicker" data-live-search="true" title="Subcategoria">
           <%= options_from_collection_for_select(@subcategories, 'id', 'name') %>
           </select>
       </div>
     </div> 
  </div>
</div>

<%= javascript_tag do %>
map = new GMaps({
      div: '#home_map',
      zoom: 8,
      width: '500px',
      height: '500px',
      lat: -34.6037232,
      lng: -58.3815931
    });

$("#home_map").hide();

$('#map-button').click(function(){
  google.maps.event.trigger(map, "resize");
  $("#home_icon").fadeToggle();
  $("#home_map").fadeToggle();
  $('#map-button').toggleClass("active");
});

$( document ).ready(function() {
    $(".selectpicker").selectpicker();
});


$('#category-select').change(function() {
      $.ajax({
        url: "/update_subcategories",
        data: {
          category_id : $('#category-select').val()
        },
        dataType: "script"
      });
    });
<% end %>