<div class="row login-index">
	<div class="col-md-4 col-md-offset-7">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong class="">Iniciar sesión</strong>
			</div>
			<div class="panel-body">
				<div align="center">
					<a href="/user/facebook_login">
						<%=image_tag("fb_boton.png", class: "facebook-login-image-button")%>
					</a>
				</div>
				<strong class="login-method-separator">o</strong>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Correo electrónico</label>
						<div class="col-sm-9">
							<input class="form-control" id="inputEmail3" placeholder="Email" required="" type="email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-3 control-label">Contraseña</label>
						<div class="col-sm-9">
							<input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<div class="checkbox">
								<label class="">
									<input class="" type="checkbox">
									Recordar sesión</label>
							</div>
						</div>
					</div>
					<div class="form-group last">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success btn-sm">
								Iniciar sesión
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				¿No se encuentra registrado? <a href="#" class="">Regístrese ahora</a>
			</div>
		</div>
	</div>
</div>