/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require star-rating.min
 *= require typeahead
 *= require bootstrap-select
 *= require rails_bootstrap_forms
 *= require bootstrap-tokenfield
 *= require bootstrap-switch
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require bootstrap-slider
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700);

body {
  padding-top:50px; /* Padding para que el contenido no quede debajo de la barra de navegacion */
}

body h1 {
  font-family: 'Lobster', verdana, sans-serif;
}

body h2, h3 {
  font-family: 'Open Sans', verdana, sans-serif;
}

a.navbar-brand  {
  padding: 10px 0;
  vertical-align: middle;
  display: inline-block;
}

div.error input {
  border: 2px solid #a94442;
}

div.error small {
  color: #a94442;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
  background-color: #eee;
}

.dropdown-settings {
  padding: 8px 0;
}
