.courseName{
  font-family: Calibri, sans-serif;
  font-size: 40px;
  color: #2f96b4;
  text-align: center;
  font-weight: 100;
}

thead th {
  background-color: #3071a9;
  border-color: #285e8e;
  color: white;
  height: 40px;
}

.button_to,
.button_to div {
  display: inline;
}

.control-label {
  font-family: 'Open Sans', verdana, sans-serif;
  font-weight: normal;
  font-size: 15px;
  height: 10px;
}

.container-results {
  background-size: auto auto;
  width: auto;
  height: 350px;
  position: relative;
  overflow-y: auto;
}

.container-opinions {
  background-size: auto auto;
  width: auto;
  height: 630px;
  position: relative;
}
