// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-search-form {

  background-size: auto auto;
  width: auto;
  height: auto;
  position: relative;
}

.container-search-result {

  background-size: auto auto;
  width: auto;
  height: 367px;
  position: relative;
  padding-top: 15px;
  overflow-y: auto;
}

.container-map {

  background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
  background-size: auto auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -10px;
  margin-bottom: -15px;
}

.round {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}