// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-search-form {
  background-color: #65A5D1;
  background-size: auto auto;
  width: auto;
  height: auto;
  position: relative;
}

.container-search-result {
  background-color: #65A5D1;
  background-size: auto auto;
  width: auto;
  height: 367px;
  position: relative;
  padding-top: 15px;
  overflow-y: auto;
}

.container-map {
  background-color: #3E94D1;
  background-size: auto auto;
  width: auto;
  height: auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: -15px;
}