<section class="top-section">
	<div class="bgafter"></div>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1 style="font-family: 'Lobster', cursive;"> Anuncia tus cursos! </h1>
					<p>
						Adiós a los métodos tradicionales de publicidad. Internet es el futuro. Una forma fácil, interactiva e idónea de que sus cursos tenga un alcance mayor.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="second-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="text-center">
					<span class="glyphicon glyphicon-mission-vision-goals glyphicon-ok"></span>
				</div>
				<h3 class="text-center"> Nuestra misión </h3>
				<p>
					Brindar una plataforma informática de alta usabilidad para oferta de cursos educativos, la búsqueda e inscripción. Facilitar la búsqueda de cursos por cercanía geográfica mediante cartografía en línea.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="text-center">
					<span class="glyphicon glyphicon-mission-vision-goals glyphicon-eye-open"></span>
				</div>
				<h3 class="text-center"> Nuestra visión </h3>
				<p>
					Revolucionar el modo de aprendizaje de la sociedad, convirtiendo los métodos y adaptando los mismos a la tecnología que nos rodea.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="text-center">
					<span class="glyphicon glyphicon-mission-vision-goals glyphicon-screenshot"></span>
				</div>
				<h3 class="text-center"> Nuestros objetivos </h3>
				<p>
					Proveer varios planes a los oferentes, adecuados a distintas necesidades.
					<br>
					Simplificar el proceso de inscripción de alumnos.
					<br>
					Proveer una plataforma de publicidad de materiales extras.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="features-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-header text-center">
					<h1> Planes por cantidad de visitas</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p style="font-size: 18px">
					Un plan ideal que le brinda la posibilidad de ofrecer todos los datos de tus cursos para lograr un mayor alcance.
					<br/>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="price-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="text-center"> Visitas Básico </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$100 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 5 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 1 foto por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> $0,10 / visita
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="text-center"> Visitas Full </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$300 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 10 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 3 fotos por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> $0,05 / visita
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="text-center"> Visitas Premium </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$1000 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 50 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 5 fotos por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> $0,02 / visita
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-header text-center">
					<h1> Planes por cantidad de inscripciones</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p style="font-size: 18px">
					Un plan recomendado para aquellos que desean lograr un mayor alcance a cambio de un mayor control de sus datos.
					<br/>
					El vitante del curso no podrá ver los datos sensibles como la dirección exacta del lugar del dictado del curso hasta el momento de inscripción.
					<br/>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="price-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="text-center"> Inscripciones Básico </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$100 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 5 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 1 foto por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 5% / inscripción
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="text-center"> Inscripciones Full </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$300 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 10 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 2 fotos por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 3% / inscripción
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="text-center"> Inscripciones Premium </h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead">
							<strong>$1000 / mes</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 50 cursos
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> Hasta 5 fotos por curso
						</li>
						<li class="list-group-item">
							<i class="icon-ok text-danger"></i> 1% / inscripción
						</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-success" href="#">CONTRATAR</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="buy-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h2 class="text-center">¿Dudas? ¡Consúltanos!</h2>
			</div>
			<div class="col-md-4 col-md-offset-4" style="margin-top:20px;">
				<button href="#" class="btn btn-info btn-block btn-lg">
					CONSULTAR
				</button>
			</div>

		</div>
	</div>
</section>