<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header text-center">
				<h1><%= @plan.type_title %></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p style="font-size: 16px">
				<%= @plan.general_description %>
				<br/>
			</p>
			<h3>Nombre: <%= @plan.name %></h3>
			<h3>Precio:$<%= @plan.price %> por mes</h3>
		</div>
	</div>
	<div class="row">
		<% unless is_logued_teacher? %>
		No hay un profesor conectado
		<% end %>
	</div>
</div>