<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header text-center">
				<h2> Planes por cantidad de visitas</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p style="font-size: 18px">
				Un plan ideal que le brinda la posibilidad de ofrecer todos los datos de tus cursos para lograr un mayor alcance.
				<br/>
			</p>
			<h1>Name: <%= @plan.name %></h1>
			<h2>Type: <%= @plan.type %></h2>
			<h3>Price:$<%= @plan.price %></h3>
		</div>
	</div>
</div>