<%
 # add navigation links to this file
%>
<li>
	<a href="plans">Planes</a>
</li>
<li>
	
	<a href="#" id="btnModal"  data-toggle="modal" data-target="#myModal">
  Estadísticas
</a>

	
<li>
	<a href="courses">Cursos</a>
</li>	