<%
 # add navigation links to this file
%>

<% if current_user %>
	<% if can? :read, Plan %>
	    <li><%= link_to "Planes", plans_url %></li>
	<% end %>
	<% if can? :read, User %>
	    <li><a href="#" id="btnModal"  data-toggle="modal" data-target="#myModal">Estadísticas</a></li>
	<% end %>
	<% if can? :create, Course %>
	    <li><%= link_to "Cursos", courses_url %></li>
	<% end %>
<% end %>