<%
 # add navigation links to this file
%>
<li>
	<%= link_to "Planes", plans_url %>
</li>
<li>
	
	<a href="#" id="btnModal"  data-toggle="modal" data-target="#myModal">
  Estadísticas
</a>

	
<li>
	<%= link_to "Cursos", courses_path %>
</li>	
