<%
 # add navigation links to this file
%>
	    
<li><h1 style="font-size:20pt; margin: 10px 10px;">QuieroAprender</h1></li>
<% if can? :read, Plan %>
	    <li><%= link_to "Quiero enseñar", plans_url %></li>
	<% end %>
<% if current_user %>
	<% if can? :create, Course %>
	    <li><%= link_to "Cursos", courses_url %></li>
	<% end %>
<% end %>

